body {
    background-image: url(img/imagem\ de\ fundo\ quiz.png);
    font-family: "Margarine", sans-serif; 
    background-color: #e8f5e9; 
    
    color: #3F2913;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #575A21; 
    font-size: 5rem; 
    margin-top: 8rem;
    margin-bottom: 20px; 
    
}

p {
    color: #ffffff;
    font-size: 2em; 
    margin-bottom: 70px; 
}

h2 {
    
    border-radius: 10px;
    font-size: 2em;
    margin: 5px;
    padding: 15px;
    background-color: #C8B88E;
  
}

.respostas {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 100px ;
    background-color: #4B6636;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.teste{
    color: #020000;
    font-size: 1.2em; 
    margin-bottom: 50px;
}


.fundo {
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    padding: 100px ;
    background-color: #4B6636;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.finalizado{
    background-image: url(img/imagem\ fundo\ final.jpg);
  
    margin: 0;
    padding: 0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 3rem; 
    }

    a {
        font-size: 1.2em; 
        padding: 10px 20px; 
    }

    .fundo {
        width: 90%; 
        padding: 20px; 
    }
}


#botao-proxima {
    color: #775809;
    font-family: "Skranji", sans-serif;
    padding: 5px 30px; 
    font-size: 1.5em;
    background-color: #C8B88E;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    

}

#botao-proxima:hover{
    background-color: #3F3022';

}

#botao-verdadeiro {
    
    color: #775809;
    font-family: "Skranji", sans-serif;
    padding: 3px 20px; 
    font-size: 1.5em;
    background-color: #C8B88E;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

#botao-falso {
    margin-left: 10%;
    color: #775809;
    font-family: "Skranji", sans-serif;
    padding: 3px 50px;
    font-size: 1.5em;
    background-color: #C8B88E;
    border: none;
    border-radius: 3px; 
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

#botao-verdadeiro:hover,
#botao-falso:hover {
    background-color: #a89b6f; 
    color: #4c8535; 
}


#botao-jogar {
    font-family: "Margarine", sans-serif;
    padding: 15px 30px; 
    font-size: 1.5em; 
    color: #000000;
    background-color: #8EA267; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase; 
    transition: background-color 0.3s; 
}

#botao-jogar:hover {
    background-color: #4c8535; 
}


#botao-reiniciar {

    font-family: "Skranji", sans-serif;
    padding: 10px 10px; 
    font-size: 1.5em; 
    color: #3F3022;
    background-color: #C8B88E; 
    border: none;
    border-radius: 10px;
    margin-right: 3%;
    cursor: pointer;
    text-transform: uppercase; 
    text-decoration: none;
    transition: background-color 0.3s; 
}

#botao-inicio {

    font-family: "Skranji", sans-serif;
    padding: 10px 30px; 
    font-size: 1.5em; 
    color: #3F3022;
    background-color: #C8B88E; 
    border: none;
    border-radius: 10px;
    margin-left: 2%;
    cursor: pointer;
    text-transform: uppercase; 
    text-decoration: none;
    transition: background-color 0.3s; 
}

#botao-inicio:hover,
#botao-reiniciar:hover {
    background-color: #4c8535; 
}
